*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Noto Sans Mono', monospace;
	color:black;
	}

body{
	background:#efefef;
	color:white;
	margin:0;
	margin-bottom:200px;
}

html{
	min-height:100%;
	position:relative;
}


.imagenes{
	width:100%;
	text-align:center;
}

.nino{

	width:400px;
	height:400px;
	margin:20px;
	border:20px solid #396362;
	object-fit:cover;
	

}

.computadora {
	
	width:400px;
	height:400px;
	margin:20px ;
	border:20px solid #396362;

}

.texto{
	margin-top:100px;
	display:block;
	text-align:center;
}

.texto p{
	margin:20px;
	font-size:20px;
}

.texto h2{
	margin:20px;
}

.titulo{
	justify-content:flex-start;
}

.contenedor-menu{
	width:100%;
	height:100%;
	z-index:100;
	background:#396362;
	border-right:5px solid white;
	text-align:center;
	position:fixed;
	top:0;
	clip-path:circle(70px at 50% 0);
	transition:1.5s ease all;
}
.contenedor-menu li a {
	font-size:40px;
	color:#f8f8f8;
	font-size:40px;
	text-decoration:none;
	letter-spacing:2px;
	padding:15px 30px;
	text-transform:uppercase;
	transition: .2s ease all;
}



.contenedor-menu li a:hover{
	background:#000;
}


.contenedor-menu.active{
	clip-path:circle(100% at 50% 0)

}

.contenedor-menu.active li{
	animation: desplazamiento .7s ease;
}

@keyframes desplazamiento {
	from {transform: translateY(1000px);}
	to {transform: translateY(0);}
}

.casa-menu i{
	color:white;
	font-size:40px;
	padding:10px;
	cursor:pointer;
	
}


.casa-menu:hover{
	animation: rotar 1.5s alternate;
}

@keyframes rotar {
	0% {transform: rotate(0deg) } 
	20% {transform: rotate(10deg) } 
	40% {transform: rotate(-15deg) } 
	60% {transform: rotate(15deg) } 
	80% {transform: rotate(-10deg) } 
	100% {transform: rotate(0deg) } 
}

.elementos-navegacion{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.elementos-navegacion li{
	list-style:none;
	padding-bottom:20px;
	margin-bottom:20px;
}



.pepito{
	text-decoration:none;
}

.paypal{
	
	text-decoration:none;
	font-size:40px;
	display:inline-block;
	margin:20px;
}

.instagram{

	font-size:40px;
	text-decoration:none;
	padding:20px;
	display:inline-block;
}

.youtube{
	font-size:40px;
	text-decoration:none;
	padding:20px;
	display:inline-block
}

.texto-abajo{
	width:100%;
	height:200px;
	background:#396362;
	color:#fff;
	display:block;
	position:absolute;
	bottom:0;
	text-align:center;

}


.texto-abajo2{
	color:#fff;

}


.texto-abajo-h4{
	
	color:#fff;
	display:inline-block;
	
	
}


.texto-abajo-b{

color:#fff;

}


.ul-paypal{
	display:inline-block;
}

.ul-youtube{

}

.li-instagram{
	display:inline-block;
}
.li-youtube{
	display:inline-block;
}

.francisco{
	height:100px;
}



.cebra{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.leon{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.pinguino{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.cocodrilo{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170);
}

.cebrapng{
	width:1200px;
	height:800px;
	margin:50px;
	border:20px solid #396362;
}

.pensarpng{
	width:1200px;
	height:800px;
	margin: 50px;
	border:20px solid #396362;
}

.eleccionespng{
	width:1200px;
	height:800px;
	margin:50px;
	border:20px solid #396362;

}





.texto-h1{
	margin-top:100px;
	display:inline-block;
	text-align:center;
}

.texto-h1 h1{
	margin:20px;
	text-align:center;
}

.texto-h1 h2{
	margin:20px;
	text-align:center;
}

.texto-h1 h3{
	margin:10px 20px ;
	text-align:center;
}


.centrar-1{
	width:100%;
	text-align:center;
}

.centrar-2{
	width:100%;
	text-align:center;
}

.centrar-3{
	width:100%;
	text-align:center;
}


.ultima-pregunta{
	margin-bottom:120px;
} 

.primera-oracion{
	margin-top:130px;
	display:block;
	text-align:center;
}

.centrar-animales{
	margin-top:100px;
	display:block;
	text-align:center;
}




@media (max-width:768px){



	

	.cebrapng{
		display:block;
		width:250px;
		height:250px;
		border:2px solid #396362;
		
		
	}

	.cebrapng img{
		text-align:center;
	}

	.pensarpng{
		display:block;
		width:250px;
		height:250px;
		border:2px solid #396362;
		text-align:center;
	}

	.eleccionespng{
		display:block;
		width:250px;
		height:250px;
		border:2px solid #396362;
		text-align:center;
	}

	.contenedor-menu{

	width:100%;
	height:100%;
	z-index:100;
	background:#396362;
	border-right:5px solid white;
	text-align:center;
	position:fixed;
	top:0;
	clip-path:circle(50px at 50% 0);
	transition:1.5s ease all;
	}

	.contenedor-menu li a {
	color:#f8f8f8;
	font-size:30px;
	text-decoration:none;
	letter-spacing:2px;
	padding:15px 30px;
	text-transform:uppercase;
	transition: .2s ease all;
}



.contenedor-menu li a:hover{
	background:#000;
}


.contenedor-menu.active{
	clip-path:circle(150% at 50% 0)

}

.contenedor-menu.active li{
	animation: desplazamiento .7s ease;
}

@keyframes desplazamiento {
	from {transform: translateY(1000px);}
	to {transform: translateY(0);}
}

.casa-menu i{
	color:white;
	font-size:20px;
	padding:10px;
	cursor:pointer;
	
}


.casa-menu:hover{
	animation: rotar 1.5s alternate;
}

@keyframes rotar {
	0% {transform: rotate(0deg) } 
	20% {transform: rotate(10deg) } 
	40% {transform: rotate(-15deg) } 
	60% {transform: rotate(15deg) } 
	80% {transform: rotate(-10deg) } 
	100% {transform: rotate(0deg) } 
}

.elementos-navegacion{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.elementos-navegacion li{
	list-style:none;
	padding-bottom:20px;
	margin-bottom:20px;
}


.zebraa{
		width:300px;
		height:300px;
	}

	

.cebra{
	width:80%;
	height:30px;
	font-size:20px;
}



.leon{
	width:80%;
	height:30px;
	font-size:20px

}


.pinguino{
	width:80%;
	height:30px;
	font-size:20px

}


.cocodrilo{
	width:80%;
	height:30px;
	font-size:20px

}


.texto-h1{
	margin-top:100px;
	display:inline-block;
	text-align:center;

}

.texto{
	margin-top:100px;
	display:block;
	text-align:center;
}





.imagenes{
	width:100%;
	text-align:center;
	}

.computadora{
	width:300px;
	height:300px;
}

.nino{
	width:300px;
	height:300px;
}



.texto-abajo{
	width:100%;
	height:200px;
	background:#396362;
	color:#fff;
	display:block;
	position:absolute;
	bottom:0;
	text-align:center;

}


.texto-abajo2{
	color:#fff;

}


.texto-abajo-h4{
	
	color:#fff;
	display:inline-block;
	
	
}


.texto-abajo-b{

color:#fff;

}


.centrar-1{
	width:100%;
	text-align:center;
}

.centrar-2{
	width:100%;
	text-align:center;
}

.centrar-3{
	width:100%;
	text-align:center;
}

}

