*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Noto Sans Mono', monospace;
	color:black;
	}

body{
	background:#80400;
	color:black;
}

.nino {
	width:400px;
	height:400px;
	margin:20px;
	border:5px solid green;
}
.computadora{
	width:400px;
	height:400px;
	margin:20px;
	border:5px solid green;
}

.texto{
	margin:20px;
	color:white;
}

.titulo{
	justify-content:flex-start;
}

.contenedor-menu{
	width:100%;
	height:100%;
	z-index:100;
	background:#396362;
	border-right:5px solid white;
	text-align:center;
	position:fixed;
	top:0;
	clip-path:circle(70px at 50% 0);
	transition:1.5s ease all;
}
.contenedor-menu li a {
	font-size:40px;
	color:#f8f8f8;
	font-size:40px;
	text-decoration:none;
	letter-spacing:2px;
	padding:15px 30px;
	text-transform:uppercase;
	transition: .2s ease all;
}



.contenedor-menu li a:hover{
	background:#000;
}


.contenedor-menu.active{
	clip-path:circle(100% at 50% 0)

}

.contenedor-menu.active li{
	animation: desplazamiento .7s ease;
}

@keyframes desplazamiento {
	from {transform: translateY(1000px);}
	to {transform: translateY(0);}
}

.casa-menu i{
	color:white;
	font-size:40px;
	padding:10px;
	cursor:pointer;
	
}


.casa-menu:hover{
	animation: rotar 1.5s alternate;
}

@keyframes rotar {
	0% {transform: rotate(0deg) } 
	20% {transform: rotate(10deg) } 
	40% {transform: rotate(-15deg) } 
	60% {transform: rotate(15deg) } 
	80% {transform: rotate(-10deg) } 
	100% {transform: rotate(0deg) } 
}

.elementos-navegacion{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.elementos-navegacion li{
	list-style:none;
	padding-bottom:20px;
	margin-bottom:20px;
}

.
}


}

}

.pepito{
	text-decoration:none;
}

.paypal{
	
	text-decoration:none;
	font-size:40px;
	display:inline-block;
	margin:20px;
}

.instagram{

	font-size:40px;
	text-decoration:none;
	padding:20px;
	display:inline-block;
}

.youtube{
	font-size:40px;
	text-decoration:none;
	padding:20px;
	display:inline-block
}

.texto-abajo{
	width:100%;
	height:200px;
	background:#396362;
	color:#fff;
}
.texto-abajo2,b{
	color:#fff;
}
	
}

.ul-paypal{
	display:inline-block;
}

.ul-youtube{

}

.li-instagram{
	display:inline-block;
}
.li-youtube{
	display:inline-block;
}

.francisco{
	height:100px;
}

.parrafo{
	font-weight:300;
}

.cebra{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.leon{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.pinguino{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170)
}
.cocodrilo{
width:400px;
height:200px;
font-size:30px;
color:rgb(170,170,170);
}

.cebrapng{
	width:1200px;
	height:800px;

	margin:50px;
	outline:5px solid red;
}

.pensarpng{
	width:1200px;
	height:800px;
	margin: 50px;
	outline:5px solid red;
}

.eleccionespng{
	width:1200px;
	height:800px;
	margin:50px;
	outline:5px solid red;

}


@media (max-width:800px){

	header{
		display:block;
		width:100%;
	}
}


